
<div class="r-button-search-label">Search by </div>
<span *ngFor="let x of searchItems" >
    <label class="r-button-search-label">
        <input class="r-button-search" type="radio" id="{{x}}" value="{{x}}" name="searchby" [(ngModel)]="selectedSearch">
        {{x | uppercase}}
    </label>
</span>


<div id="search-component">

    <input #searchBox id="search-box" [(ngModel)]="searchText" (input)="search(searchBox.value)" />
  
    <ul class="search-result">
      <li *ngFor="let car of cars$ | async" >
        <a routerLink="/car-detail/{{car.id}}">{{car.brand}} {{car.model}} {{car.color}}</a>
      </li>
    </ul>
</div>

     